{% extends 'base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
  

  <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
      <h3 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">Are you sure you want to delete the project "{{ project.title }}"?</h3>
      <form method="post">
    {% csrf_token %}
      <button type="submit" class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">Yes, delete</button>
          <button  class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0"><a href="{% url 'view_project' %}">No, go back</a></button>
</form>

    </div>
  </div>
</section>
{% endblock %}
